*{
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
html{
  scroll-behavior: smooth;
}
nav ul li a{
  color: #000;
}
.bg-nav, .footer{
  background-color: #f5c004;
}
.bg-nav{
  z-index: 1;
}
.show{
  display: flex;
  justify-content: center !important;
}
.banner_text-group{
  top: 40%;
  left: 10%;
  color: #fff;
}
.banner_text-group p{
  font-size: 40px;
}
.banner_text-group span{
  font-size: 60px;
}
#about-us img{
  width: auto;
  height: 300px;
}
#about-us{
  background-color: #d9d9d966;
}
.content-title{
  font-size: 40px;
}
.portfolio_content-title{
  top: 3%;
  left: 5%;
  border: 2px solid #fff;
  padding: 2%;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
}
.portfolio_content-title h3{
  font-size: 15px;
  margin-bottom: 0;
}
.contact_content{
  top: 20%;
  left: 25%;
}
.contact_content-form{
  padding: 5% 20%;
}
.portfolio_content-title--text{
  /* text-shadow: 7px 0 #000; */
  font-weight: bold;
}
.about-us_content-text p{
  text-align: justify;
}
.portfolio_content_overlay{
  /* background: url("../images/jintudix_portfolio_img9.jpg"); */
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-color: rgba(50, 70, 80);
  background-blend-mode: soft-light;
}
.padding_adjust{
  padding: 5px;
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(20%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-20%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}

.sell_property-link{
  font-size: 1.3rem;
}
.text_property{
      top: 40%;
      left: 40%;
      font-size: 5rem;
    }
    .bg_overlay-dark{
    height: 100%;
    position: absolute;
    background-color: #00000052;
    }

/* Media Queries */

/*  Mobile Screen  */
@media only screen and (min-width: 320px) {
  .navbar-nav li a{
      text-align: center;
  }
  .banner_text-group p{
      font-size: 18px;
  }
  .banner_text-group span{
      font-size: 20px;
  }
  .banner_text-group{
      top: 30%;
      left: 5%;
  }
  .about-us_content-text p{
      font-size: 14px;
  }
  .content-title{
      font-size: 25px;
  }
  .portfolio_content-title h3{
      font-size: 16px;
  }
  .portfolio_content-title{
      left: 5%;
  }
  .contact_content{
      top: 0;
      left: 0;
  }
  #contact-us img{
      height: 60vh;
  }
  .contact_content-form{
      padding: 0;
  }
  .portfolio_content-title--text{
    /* text-shadow: 3px 0 #000; */
  }
  .banner-group{
    top: 27px;
  }
  .text_property{
    left: 30%;
    font-size: 1.2rem;
  }
  .sell_title_property{
    font-size: 1.2rem;
  }
  ..sell_description-property{
    text-align: center;
  }
  .sell_description-property h4{
    font-size: 1.2rem;
  }
}
/* Tablet screen */
@media only screen and (min-width: 768px){
  .navbar-nav li a{
      text-align: center;
  }
  .banner_text-group p{
      font-size: 25px;
  }
  .banner_text-group span{
      font-size: 30px;
  }
  .banner_text-group{
      top: 35%;
      left: 15%;
  }
  .about-us_content-text p{
      font-size: 1rem;
  }
  .content-title{
      font-size: 40px;
  }
  .portfolio_content-title h3{
      font-size: 15px;
  }
  .portfolio_content-title{
      left: 5%;
  }
  .contact_content{
      top: 20%;
      left: 25%;
  }
  #contact-us img{
      height: auto;
  }
  .contact_content-form{
      padding: 0;
  }
  .portfolio_content-title--text{
    /* text-shadow: 5px 0 #000; */
  }
   .text_property{
    left: 35%;
    font-size: 2rem;
  }
  .sell_title_property{
/*    font-size: 2rem;*/
  }
}

/* Desktop screen */
@media only screen and (min-width: 1024px){
  .navbar-nav li a{
      text-align: center;
  }
  .banner_text-group p{
      font-size: 40px;
  }
  .banner_text-group span{
      font-size: 60px;
  }
  .banner_text-group{
      top: 40%;
      left: 10%;
  }
  .portfolio_content-title h3{
      font-size: 15px;
  }
  .portfolio_content-title{
      left: 5%;
  }
  .contact_content-form{
      padding: 5% 20%;
  }
  .portfolio_content-title--text{
    /* text-shadow: 7px 0 #000; */
  }
   .text_property{
    left: 31%;
    font-size: 4rem;
  }
  .sell_title_property{
      font-size: 2rem;
  }
}